* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Cart_main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
  gap: 30px;

  .Cart_contant {
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(220, 203, 203);

    img {
      width: 180px;
      height: 250px;
    }
    h2 {
      font-size: 17px;
      width: 72%;
      margin-top: 8px;
      font-family: sans-serif;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 1;
    }
    h4 {
      margin-top: 4px;
      font-size: 25px;
      margin-left: -30px;
    }
    .btns {
      display: flex;
      gap: 5px;
      margin-left: 20px;
      .like_btn,
      .delete_btn {
        button {
          background: #ff5403;
          color: #fff;
          outline: none;
          border: none;
          padding: 5px 10px;
          margin-left: 15px;
          margin-top: 5px;
        }
      }
    }
  }
}
