@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,500&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,500&family=Open+Sans:wght@300&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,500&family=Open+Sans:wght@300&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond:wght@300&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,500&family=Open+Sans:wght@300&family=Playfair+Display:ital@1&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.cart-item-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;


    .cart-list{

        img{
            width: 170px;
            height: 270px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h2{
            font-size: 16px;
            letter-spacing: 1px;
            text-align: center;
        }
        h4{
            text-align: center;
        }


    }
}