* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: sans-serif;
}
.header_images {
  .slide_1,
  .slide_2,
  .slide_3,
  .slide_4 {
    display: block;
    position: absolute;
    width: 100%;
    height: 530px;
  }
  .slide_1 {
    animation: fade1 10s infinite;
  }
  .slide_2 {
    animation: fade2 10s infinite;
  }
  .slide_3 {
    animation: fade3 10s infinite;
  }
  .slide_4 {
    animation: fade4 10s infinite;
  }
  @keyframes fade1 {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade2 {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade3 {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade4 {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
.bIcon {
  padding: 50px;

  .books_icon {
    display: flex;
    margin-top: 40%;
    gap: 50px;
    font-size: 80px;
    color: #ff5403;
    padding: 35px;
    border-top: 3px solid rgb(165, 164, 164);
    border-bottom: 3px solid rgb(165, 164, 164);

    .fiction {
      p {
        width: 80px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #000;
      }
    }
  }
}
.trendHeading {
  h1 {
    margin-top: 20px;
    text-align: center;
  }
  .rending {
    padding: 80px;
    img {
      border: 5px double #000;
      padding: 2px;
    }
  }
  .tImg {
    margin-left: 30px;
  }
  .trImg {
    margin-left: 50px;
  }
  .treImg {
    margin-left: 40px;
  }
  .trenImg {
    margin-left: 45px;
  }
}

.homeBooks {
  padding: 60px;
  position: relative;
  overflow: hidden;
  h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
  }

  .homeBook_slider {
    img {
      width: 200px;
      height: 250px;
    }
    h2 {
      font-size: 16px;
      width: 72%;
      margin-top: 8px;
      text-align: center;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-clamp: 1;
    }
    h4 {
      margin-top: -20px;
      margin-left: 70px;
    }
    .card_btn {
      margin-left: 37px;
      margin-top: 10px;
      button {
        outline: none;
        border: none;
        padding: 6px 12px;
        background: #ff5403;
        color: #fff;
      }
    }
  }
}
.bookStore {
  img {
    margin-top: 40px;
  }
}

.headerImg {
  padding: 50px;
  margin-top: 40px;
  img {
    width: 98%;
  }
  p {
    text-align: center;
    margin-top: 12px;
    font-size: 26px;
    font-weight: 600;
  }
}
