@import "mixin";
@import "colorMixin";
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Rancho&family=Rye&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  position: relative;
  display: block;
  align-items: center;
  border-bottom: 1px solid $main-color;

  .nav {
    background-color: $bg;
    display: flex;
    align-items: center;
    padding-right: 20px;
    text-align: center;
    justify-content: space-between;
    @media (max-width: 620px) {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }
    @media (max-width: 470px) {
      display: grid;
      grid-template-columns: 1fr 1.5fr 1fr;
    }
    .logo {
      background-color: $bg;
      img {
        background-color: $bg;
        width: 150px;
      }
    }
    .search-bar {
      display: grid;
      grid-template-columns: 1fr 9fr;
      justify-content: center;
      width: 50%;
      background-color: $blue;
      border-bottom: 1px solid $main-color;
      border-radius: 3px;
      @media (max-width: 620px) {
        width: 90%;
      }

      input {
        font-family: "Rancho", cursive;
        @include input;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        color: $main-color;
        background-color: $blue;
        position: relative;
      }

      .search-sort {
        display: flex;
        justify-self: flex-end;
        gap: 10px;
        .search-icon {
          font-size: 20px;
          margin-top: 10px;
          color: $gray;
        }
      }
    }
    .user-login {
      margin-right: 20px;
      padding: 8px 16px;
      border: 1px solid $main-color;
      color: $main-color;
      border-radius: 3px;
      @media (max-width: 520px) {
        margin-right: 0;
      }
      &:hover {
        background: $white;
        color: $bg;
      }
    }
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: $main-color;
    padding: 10px;
    .user {
      color: $main-color;
      display: flex;
      gap: 5px;
      p {
        font-family: "Rancho", cursive;
        padding-right: 1px;
      }
      a {
        display: flex;
        text-decoration: none;
        color: $main-color;
        gap: 5px;
        font-family: "Rancho", cursive;
      }
    }
  }
}

.cart {
  background-color: aqua;
  font-size: 10px;
  z-index: 1000;
}

.search-filter-content {
  z-index: 1;
  position: absolute;
  background-color: aliceblue;
  align-items: center;
  width: 100%;
  .search-content {
    padding: 20px 30px;
    h2 {
      border-bottom: 1px solid $main-color;
    }
    .filter-content {
      padding-top: 10px;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgbe(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .wrapper {
    position: relative;
    width: 50%;
    min-height: 400px;
    display: flex;
    @media (max-width: 480px) {
      width: 80%;
      flex-direction: column-reverse;
    }
    .close {
      position: absolute;
      right: 20px;
      top: 0;
      font-size: 30px;
      color: $bg;
      transition: all 200ms;
      @media (max-width: 480px) {
        top: 0;
        right: 10px;
        margin: 0;
      }
    }
    .column {
      width: 50%;
      padding: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .signin,
      .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        input {
          background: $blue;
          border: none;
          padding: 12px 15px;
          border: 2px;
          margin: 8px 0;
          width: 100%;
          font-family: inherit;
          color: pink;
          font-size: inherit;
          &:focus {
            outline-color: aqua;
          }
        }
        .form-submit {
          margin: 15px;
          background: $white;
          @include input;
          border-radius: 20px;
          color: $bg;
          padding: 12px 45px;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
          transition: transform 80ms ease-in;
          &:hover {
            background: $blue;
            color: $white;
            transform: scale(1.1);
          }
        }
        #signIn,
        #signUp {
          @include input;
          background: none;
          font-family: inherit;
          font-size: inherit;
          color: $aquamarine;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .details {
      background: $bg;
      color: $white;
      h1 {
        color: $white;
      }
    }
    .content {
      background: $white;
      text-align: center;
    }
    a {
      color: $aquamarine;
      text-decoration: none;
      font-size: 14px;
      margin: 15px 0;
    }
  }
}

.cart-products {
  right: 0;
  width: 40%;
  height: 90vh;
  background: $white;
  position: absolute;
  z-index: 1;
  @media (max-width: 1000px) {
    width: 60%;
  }
  @media (max-width: 700px) {
    width: 80%;
  }
  @media (max-width: 550px) {
    width: 100%;
  }
  .all-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 10px;
    align-items: center;

    .image {
      display: flex;
      justify-content: center;

      img {
        width: 50%;
      }
    }
    .cart-content {
      display: block;
      justify-content: left;
      h3 {
        font-size: 20px;
      }
      button {
        padding: 10px 20px;
        background-color: $white;
        color: $bg;
        border-radius: 2px;
      }
      .cart-price {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        p {
          font-size: 20px;
        }

        button {
          padding: 10px 20px;
          background-color: $white;
          color: $bg;
          border-radius: 2px;
          &:hover {
            background-color: $bg;
            color: $white;
          }
        }
      }
    }
  }
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  z-index: 20;
  h1 {
    color: $white;
    text-transform: uppercase;
  }
}
.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: $white;
  border-radius: 24px;
  transition: 0.25s;
  &:focus,
  &:focus {
    width: 220px;
    border-color: $lightGreen;
  }
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $lightGreen;
  padding: 14px 40px;
  outline: none;
  color: $white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  &:hover {
    background: $lightGreen;
  }
}
